body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > header,
body > main {
  display: inline-block;
  width: 1200px;
  margin-left: calc(50% - 600px);
  margin-top: 10px;
}

body > main {
  background-image: url('../img/backgroundImg.png');
  background-size: cover;
  background-position: center;
  height: 660.6px;
}

header > img.logo {
  height: 46px;
  float: left;
}

main > img.yogaImg {
  float: left;
  width: 55%;
  height: 400px;
  object-fit: contain;
  object-position: center center;
}

nav {
  margin-top: 15px;
  margin-right: 100px;
  float: right;
  font-size: 15px;
}

a.nav {
  display: inline-block;
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  margin-left: 20px;
  color: black;
  padding-bottom: 5px;
}

a.nav:hover,
a.nav:first-child {
  border-bottom: 2px solid #de523b;
}

a.nav:hover {
  color: red;
}

a.singUp {
  float: left;
  background-color: #ff4622;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px 20px;
  color: white;
}

main > div.main {
  float: left;
  width: 45%;
  margin-top: 160px;
  margin-left: 130px;
  padding-right: 10%;
}

/* div.text {
  margin-left: 10%;
} */

/* div.textH1 {
  width: 100%;
} */

h1.bigText {
  color: #2c224c;
  margin: 0;
  float: left;
  font-weight: normal;
  font-family: cursive;
  margin-bottom: 10px;
}

span {
  color: #ff4622;
}

p {
  float: left;
  font-size: 16px;
  margin-bottom: 20px;
}

/* img.bottomLeft {
  width: 32%;
  float: left;
  position: relative;
  left: -100px;
} */

/* img.cloudImg {
  float: right;
  width: 35%;
  position: relative;
  top: 30px;
  right: -40px;
} */
